@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

:root {
    --font-family-inter: 'Inter', sans-serif;
    --font-family-jost: 'Jost', sans-serif;
    --font-family-kaisei-decol: 'Kaisei Decol', sans-serif;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
#top-header {
    min-height: 100vh;
    background: url(./public/images/cover.png) no-repeat center;
    background-size: 100% 100%;
}

#logo-header {
    text-align: center;
}

.text-header {
    font-family: var(--font-family-jost);
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

nav {
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    font-family: var(--font-family-inter);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Media Queries */
@media (max-width: 600px) {
    #top-header {
        min-height: 50vh;
    }

    .text-header {
        font-size: 12px;
    }

    nav ul li {
        font-size: 24px;
    }
}

/* About Us Section */
.container-about-us {
    margin-top: 15px;
    display: flex;
    background: #9cab70;
}

.image-about-us {
    flex-grow: 1;
}

.image-about-us img {
    height: 100%;
    object-fit: cover;
}

.text-about-us {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-about-us h1 {
    color: #fff;
    font-size: 48px;
}

.text-about-us p {
    margin-top: 40px;
    width: 475px;
    height: 173px;
    color: #fff;
    text-align: center;
    font-family: var(--font-family-kaisei-decol);
    font-size: 23px;
    line-height: normal;
}
/* Media Queries */
@media (max-width: 600px) {
    .container-about-us {
        flex-direction: column;
    }
    .image-about-us img {
        height: 50%;
        width: 100%;
        object-fit: cover;
    }
    .image-about-us,
    .text-about-us {
        flex-grow: 0;
    }

    .text-about-us h1 {
        font-size: 32px;
    }

    .text-about-us p {
        width: 100%;
        font-size: 18px;
    }
}
/* Products Section */
.container-products {
    background: #eee;
    margin-top: 15px;
}

.container-products h1 {
    text-align: center;
    background: #eee;
    color: #000;
    font-family: var(--font-family-kaisei-decol);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 39px;
    margin-bottom: 25px;
}

.flex-product {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.product1,
.product2,
.product3,
.product4 {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 50px;
}

.product1 h3,
.product2 h3,
.product3 h3,
.product4 h3 {
    color: #000;
    font-family: var(--font-family-jost);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/* Media Queries */
@media (max-width: 600px) {
    .flex-product {
        flex-direction: column;
    }

    .product1,
    .product2,
    .product3,
    .product4 {
        margin-bottom: 20px;
    }

    .product1 h3,
    .product2 h3,
    .product3 h3,
    .product4 h3 {
        font-size: 20px;
    }
}
/* Discount Section */
.container-discount {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.text-discount {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #9cab70;
    margin-right: 15px;
}

#header-discount {
    color: #fff;
    text-align: center;
    font-family: var(--font-family-inter);
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#content-discount {
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-family: var(--font-family-jost);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 600px;
}
#button-discount {
    margin-top: 15px;
    width: 150px;
    height: 55px;
    font-family: Jost;
    font-size: 23px;
    border-radius: 20px;
    border: 2px solid #68763f;
    background: rgba(255, 255, 255, 0.8);
}
.image-discount img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Media Queries */
@media (max-width: 600px) {
    .container-discount {
        flex-direction: column;
    }

    .text-discount {
        margin-right: 0;
    }

    #header-discount {
        font-size: 40px;
    }

    #content-discount {
        font-size: 20px;
        width: 100%;
    }

    #button-discount {
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
}
/* Contact Section */
.container-contact {
    margin-top: 15px;
    background: url(./public/images/backgroud-contact.png) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    background: #fafafa;
}
.contact-form h1 {
    text-align: center;
    font-family: var(--font-family-jost);
    font-weight: 400;
    margin: 35px 0;
}

.contact-form input,
.contact-form textarea {
    margin: 15px 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 4px solid #9cab70;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
}

.submit-btn {
    cursor: pointer;
    border-radius: 15px;
    border: 4px solid #9cab70;
    background: #68763f;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    width: 130px;
    margin-left: 500px;
}
/* Media Queries */
@media (max-width: 600px) {
    .contact-form {
        width: 100%;
        padding: 20px;
    }

    .contact-form h1 {
        font-size: 24px;
    }

    .contact-form input,
    .contact-form textarea {
        margin: 15px 20px;
        font-size: 16px;
    }

    .submit-btn {
        width: 100px;
        margin-left: 0;
        margin-right: 0;
        margin: 15px auto;
    }
}
/*Footer*/
.logo-footer {
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media img {
    margin: 10px;
}

.text-footer {
    font-family: var(--font-family-jost);
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.logo-footer a {
    color: #9cab70;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* Media Queries */
@media (max-width: 600px) {
    .logo-footer {
        margin-top: 10px;
    }

    .social-media img {
        margin: 5px;
    }

    .text-footer {
        font-size: 14px;
    }

    .logo-footer a {
        font-size: 24px;
    }
}
